//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Document
//-     body
//-         .vise
//-             include ./components/Профиль.pug 
//-             include ./components/Настройки общие.pug
//-             include ./components/Соххранённые альбюомы.pug
//-             include ./components/Наращивание ресниц 3D.pug
//-             include ./components/Переименовать название альбома.pug
//-             include ./components/Удалить альбом.pug
//-             include ./components/Загрузить фото.pug
//-             include ./components/Страница график работы после сохранения.pug

