<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sass/main.css">
    <title>Наращивание ресниц 3D</title>
  </head>
  <body>
    <main>
      <div class="fotozagruska">
        <div class="nav">
          <div>
            <div><img src="/assets/svg/xxx.svg" alt="">
              <p>1</p>
            </div>
            <div>
              <input type="checkbox">
              <p>выделить все</p>
            </div>
          </div>
          <div> <img src="/assets/svg/delet.svg" alt=""></div>
        </div>
        <div class="foto3dtext">
          <p>Наращивание ресниц 3D</p>
        </div>
        <div class="fotoalboms">
          <div> <img src="/assets/svg/fotoalbom1.svg" alt=""><img src="/assets/svg/fotoalbom2.svg" alt=""><img src="/assets/svg/fotoalbom3.svg" alt=""></div>
        </div>
        <div class="sdelatfoto"> 
          <p>Сделать фото основным</p>
          <form>
            <label class="switch">
              <input type="checkbox" onclick="change()"><span class="slider round"></span>
              <h2 id="light-text"></h2>
            </label>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>