<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sass/main.css">
    <title>Настрйока онлайн бронирования по дням</title>
  </head>
  <body>
    <main>
      <div class="navbar">
        <div class="nastroyka__nav"><img src="/assets/svg/navar.svg" alt="">
          <p>Онлайн бронирование</p>
        </div>
      </div>
      <div class="podnyam25"><a href="">После любой услуги</a></div>
      <div class="container">
        <div class="dropdown">
          <label for="dropdown-toggle">Перерыв между сеансами</label>
          <button class="dropdown-toggle" id="dropdown-toggle">1 час. 45 мин</button>
          <div class="dropdown-menu"></div>
          <div class="dropdown-header"><span class="dropdown-hour">1 ч.</span><span class="dropdown-minute">0 мин.</span></div>
          <div class="dropdown-item">1 ч.</div>
          <div class="dropdown-item">5 мин.</div>
          <div class="dropdown-item">1 ч.</div>
          <div class="dropdown-item">10 мин.</div>
          <div class="dropdown-item">1 ч.</div>
          <div class="dropdown-item">45 мин.</div>
          <div class="dropdown-item">2 ч.</div>
          <div class="dropdown-item">10 мин.</div>
          <div class="dropdown-item">2 ч.</div>
          <div class="dropdown-item">15 мин.</div>
          <button class="dropdown-select">Выбрать</button>
        </div>
      </div>
    </main>
  </body>
  <script src="/script.js"></script>
</html>