<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sass/main.css">
    <title>Настрйока онлайн бронирования по дням</title>
  </head>
  <body>
    <main>
      <div class="navbar">
        <div class="nastroyka__nav"><img src="/assets/svg/navar.svg" alt="">
          <p>Онлайн бронирование</p>
        </div>
      </div>
      <div class="podnyam"><a href="">По дням</a></div>
      <div class="zapisi_h1"> 
        <p>Длительность записи</p>
        <p>
          Настройте период в который запись к вам будет доступна заранее Настройте период в который запись <br>к вам будет доступна заранее</p>
      </div>
      <div class="dropdowns">
        <div class="dropdown">
          <button class="dropdown-toggle">2 дня</button>
          <div class="dropdown-menu">
            <div class="dropdown-item">1 день</div>
            <div class="dropdown-item">2 дня</div>
            <div class="dropdown-item">2 дня</div>
            <div class="dropdown-item">2 дня</div>
            <div class="dropdown-item">5 дней</div>
            <div class="dropdown-item">6 дней</div>
            <div class="dropdown-item">7 дней</div>
          </div>
        </div>
      </div>
      <div class="resnech__button">
        <button>Сохранить</button>
      </div>
    </main>
    <script src="/js/accordion.js"></script>
  </body>
</html>