<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sass/main.css">
    <title>Настройки общие</title>
  </head>
  <body>
    <main>
      <div class="navbar">
        <div class="nav"><img src="/assets/svg/navar.svg" alt="">
          <p>Настройки</p>
        </div>
        <div class="container"> 
          <div class="container__flex">
            <div><img src="/assets/svg/galeriya.svg" alt="">
              <p>Галерея</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="container__flex">
            <div><img src="/assets/svg/usluge.svg" alt="">
              <p>Услуги</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="container__flex">
            <div><img src="/assets/svg/mecto.svg" alt="">
              <p>Место работы</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="container__flex">
            <div><img src="/assets/svg/Date_today .svg" alt="">
              <p>Расписание работы</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="container__flex">
            <div><img src="/assets/svg/Calendar_add2.svg" alt="">
              <p>Онлайн бронирование</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="container__flex">
            <div><img src="/assets/svg/bell.svg" alt="">
              <p>Настройки уведомлений</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="container__flex">
            <div><img src="/assets/svg/Setting.svg" alt="">
              <p>Настройки уведомлений</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="container__flex">
            <div><img src="/assets/svg/bell.svg" alt="">
              <p>Личные данные</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="container__flex">
            <div><img src="/assets/svg/User.svg" alt="">
              <p>Личные данные</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
        </div>
      </div>
    </main>
  </body>
</html>