<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sass/main.css">
    <title>Наращивание ресниц 3D</title>
  </head>
  <body>
    <main>
      <div class="narashivanie4">
        <div class="nav"><img src="/assets/svg/navar.svg" alt="">
          <div> <img src="/assets/svg/Add_ring.svg" alt=""><img src="/assets/svg/Edit name.svg" alt=""><img src="/assets/svg/delet.svg" alt=""></div>
        </div>
        <div class="foto3dtext">
          <p>Наращивание ресниц 3D</p>
        </div>
        <div class="foto3dimg"><img src="/assets/svg/fotod31.svg" alt=""><img src="/assets/svg/fotod32.svg" alt=""></div>
        <div class="resnech__button">
          <button>Сохранить</button>
        </div>
      </div>
    </main>
  </body>
</html>