<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sass/main.css">
    <title>Редактирование Галереи, удаление альбома</title>
  </head>
  <body> 
    <main>
      <div class="profel">
        <p class="profelh1">Профиль</p>
        <div class="profel__avatar"><img src="/assets/svg/profel.svg" alt="">
          <div class="profels__edint">
            <div class="profel__edint"> 
              <p class="profel__name">Гузаль Шерматова</p>
              <p class="profel__call">+998 93 123-45-67</p>
            </div>
          </div>
        </div>
        <div class="container"> 
          <div class="podpiska container__flex">
            <div> <img src="/assets/svg/podpiska.svg" alt="">
              <p>Подписка</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="istoriya container__flex">
            <div><img src="/assets/svg/istoriya.svg" alt="">
              <p>История сеансов</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="sprabka container__flex">
            <div><img src="/assets/svg/sprabka.svg" alt="">
              <p>Справка</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="uverdom container__flex">
            <div> <img src="/assets/svg/uverdom.svg" alt="">
              <p>Уведомления</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="globle container__flex">
            <div> <img src="/assets/svg/globe.svg" alt="">
              <p>Веб страница</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="sozlamalar container__flex">
            <div><img src="/assets/svg/Setting_line.svg" alt="">
              <p>Настройки</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="klent container__flex">
            <div><img src="/assets/svg/klent.svg" alt="">
              <p>Клиенты</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
          <div class="chiqish container__flex">
            <div><img src="/assets/svg/chiqish.svg" alt="">
              <p>Выйти</p>
            </div><img src="/assets/svg/Arrow.svg" alt="">
          </div>
        </div>
        <div class="footer"> 
          <div class="footer__container">
            <div class="footer__flex"> <img src="/assets/svg/glavney.svg" alt="">
              <p>Главная</p>
            </div>
            <div class="footer__flex"> <img src="/assets/svg/Date_today.svg" alt="">
              <div class="footer__p"></div>
              <p>Расписание</p>
            </div>
            <div class="footer__flex"> <img src="/assets/svg/Chat_alt_2.svg" alt="">
              <div class="footer__p">
                <p>Чат</p>
              </div>
            </div>
            <div class="footer__flex"> <img src="/assets/svg/User.svg" alt="">
              <div class="footer__p">
                <p>Профиль                           </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>