doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/sass/main.css")
        title Настройки общие
    body
        main
            .navbar
                .nav
                    img(src="/assets/svg/navar.svg", alt="")
                    p Настройки
                .container 
                    .container__flex
                        div
                            img(src="/assets/svg/galeriya.svg", alt="")
                            p Галерея
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .container__flex
                        div
                            img(src="/assets/svg/usluge.svg", alt="")
                            p Услуги
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .container__flex
                        div
                            img(src="/assets/svg/mecto.svg", alt="")
                            p Место работы
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .container__flex
                        div
                            img(src="/assets/svg/Date_today .svg", alt="")
                            p Расписание работы
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .container__flex
                        div
                            img(src="/assets/svg/Calendar_add2.svg", alt="")
                            p Онлайн бронирование
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .container__flex
                        div
                            img(src="/assets/svg/bell.svg", alt="")
                            p Настройки уведомлений
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .container__flex
                        div
                            img(src="/assets/svg/Setting.svg", alt="")
                            p Настройки уведомлений
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .container__flex
                        div
                            img(src="/assets/svg/bell.svg", alt="")
                            p Личные данные
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .container__flex
                        div
                            img(src="/assets/svg/User.svg", alt="")
                            p Личные данные
                        img(src="/assets/svg/Arrow.svg", alt="")