doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/sass/main.css")
        title Настрйока онлайн бронирования по дням
    body
        main
            .navbar
                .nastroyka__nav
                    img(src="/assets/svg/navar.svg", alt="")
                    p Онлайн бронирование
            .podnyam
                a(href="") После любой услуги