doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/sass/main.css")
        title Настрйока онлайн бронирования по дням
    body
        main
            .navbar
                .nastroyka__nav
                    img(src="/assets/svg/navar.svg", alt="")
                    p Онлайн бронирование
            .podnyam25
                a(href="") После любой услуги
            .container
                .dropdown
                    label(for="dropdown-toggle") Перерыв между сеансами
                    button#dropdown-toggle.dropdown-toggle 1 час. 45 мин
                    .dropdown-menu
                    .dropdown-header
                        span.dropdown-hour 1 ч.
                        span.dropdown-minute 0 мин.
                    .dropdown-item 1 ч.
                    .dropdown-item 5 мин.
                    .dropdown-item 1 ч.
                    .dropdown-item 10 мин.
                    .dropdown-item 1 ч.
                    .dropdown-item 45 мин.
                    .dropdown-item 2 ч.
                    .dropdown-item 10 мин.
                    .dropdown-item 2 ч.
                    .dropdown-item 15 мин.
                    button.dropdown-select Выбрать
    script(src="/script.js")