doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/sass/main.css")
        title Редактирование Галереи, удаление альбома
    body 
        main
            .profel
                p.profelh1 Профиль
                .profel__avatar
                    img(src="/assets/svg/profel.svg", alt="")
                    .profels__edint
                        .profel__edint 
                            p.profel__name Гузаль Шерматова
                            p.profel__call +998 93 123-45-67
                .container 
                    .podpiska.container__flex
                        div 
                            img(src="/assets/svg/podpiska.svg", alt="")
                            p Подписка
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .istoriya.container__flex
                        div
                            img(src="/assets/svg/istoriya.svg", alt="")
                            p История сеансов
                        img(src="/assets/svg/Arrow.svg", alt="" )
                    .sprabka.container__flex
                        div
                            img(src="/assets/svg/sprabka.svg", alt="")
                            p Справка
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .uverdom.container__flex
                        div 
                            img(src="/assets/svg/uverdom.svg", alt="")
                            p Уведомления
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .globle.container__flex
                        div 
                            img(src="/assets/svg/globe.svg", alt="")
                            p Веб страница
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .sozlamalar.container__flex
                        div
                            img(src="/assets/svg/Setting_line.svg", alt="")
                            p Настройки
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .klent.container__flex
                        div
                            img(src="/assets/svg/klent.svg", alt="")
                            p Клиенты
                        img(src="/assets/svg/Arrow.svg", alt="")
                    .chiqish.container__flex
                        div
                            img(src="/assets/svg/chiqish.svg", alt="")
                            p Выйти
                        img(src="/assets/svg/Arrow.svg", alt="")
                .footer 
                    .footer__container
                        .footer__flex 
                            img(src="/assets/svg/glavney.svg", alt="")
                            p Главная
                        .footer__flex 
                            img(src="/assets/svg/Date_today.svg", alt="")
                            .footer__p
                            p Расписание
                        .footer__flex 
                            img(src="/assets/svg/Chat_alt_2.svg", alt="")
                            .footer__p
                                p Чат
                        .footer__flex 
                            img(src="/assets/svg/User.svg", alt="")
                            .footer__p
                                p Профиль                           