doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/sass/main.css")
        title Соххранённые альбюомы
    body
        main 
            .navbar
                .nav
                    img(src="/assets/svg/navar.svg", alt="")
                    p Моя галерея
                .fotogalerey
                    p Фото галерея
                .fotogalerey__img 
                    img(src="/assets/svg/moygaleriyya.svg", alt="")
                    img(src="/assets/svg/moygaleryya2.svg", alt="")
                .foto3d
                    p Наращивание
                    p ресниц 3D