doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/sass/main.css")
        title Наращивание ресниц 3D
    body
        main
            .narashivanie4
                .nav
                    img(src="/assets/svg/navar.svg", alt="")
                    div 
                        img(src="/assets/svg/Add_ring.svg", alt="")
                        img(src="/assets/svg/Edit name.svg", alt="")
                        img(src="/assets/svg/delet.svg", alt="")
                .foto3dtext
                    p Наращивание ресниц 3D
                .fotoalboms
                    div 
                        img(src="/assets/svg/fotoalbom1.svg", alt="")
                        img(src="/assets/svg/fotoalbom2.svg", alt="")
                        img(src="/assets/svg/fotoalbom3.svg", alt="")
                    div 
                        img(src="/assets/svg/fotoalbom4.svg", alt="")
                        img(src="/assets/svg/fotoalbom5.svg", alt="")
                        img(src="/assets/svg/fotoalbom6.svg", alt="")
            .pereimvat2
                .pereimvatdelet
                    p Вы уверены, что удалите этот альбом?
                .otmena                     
                    button Отмена
                    button Да
            