<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sass/main.css">
    <title>Настрйока онлайн бронирования по дням</title>
  </head>
  <body>
    <main>
      <div class="navbar">
        <div class="nastroyka__nav"><img src="/assets/svg/navar.svg" alt="">
          <p>Онлайн бронирование</p>
        </div>
      </div>
      <div class="podnyam"><a href="">По дням</a></div>
      <div class="zapisi__h1"> 
        <p>Длительность записи</p>
        <p>Настройте период в который запись к вам будет </p>доступна заранее Настройте период в который запись <br>к вам будет доступна заранее<br>
      </div>
    </main>
  </body>
</html>