<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sass/main.css">
    <title>Наращивание ресниц 3D</title>
  </head>
  <body>
    <main>
      <div class="narashivanie4">
        <div class="nav"><img src="/assets/svg/navar.svg" alt="">
          <div> <img src="/assets/svg/Add_ring.svg" alt=""><img src="/assets/svg/Edit name.svg" alt=""><img src="/assets/svg/delet.svg" alt=""></div>
        </div>
        <div class="foto3dtext">
          <p>Наращивание ресниц 3D</p>
        </div>
        <div class="fotoalboms">
          <div> <img src="/assets/svg/fotoalbom1.svg" alt=""><img src="/assets/svg/fotoalbom2.svg" alt=""><img src="/assets/svg/fotoalbom3.svg" alt=""></div>
          <div> <img src="/assets/svg/fotoalbom4.svg" alt=""><img src="/assets/svg/fotoalbom5.svg" alt=""><img src="/assets/svg/fotoalbom6.svg" alt=""></div>
        </div>
      </div>
      <div class="pereimvat">
        <div class="pereimvat__p">
          <p>Переименовать</p>
        </div>
        <div class="reaksiya3d"> 
          <button>Наращивание ресниц 3D</button>
        </div>
        <div class="otmena">                    
          <button>Отмена</button>
          <button>Да</button>
        </div>
      </div>
    </main>
  </body>
</html>