<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sass/main.css">
    <title>Соххранённые альбюомы</title>
  </head>
  <body>
    <main> 
      <div class="navbar">
        <div class="nav"><img src="/assets/svg/navar.svg" alt="">
          <p>Моя галерея</p>
        </div>
        <div class="fotogalerey">
          <p>Фото галерея</p>
        </div>
        <div class="fotogalerey__img"> <img src="/assets/svg/moygaleriyya.svg" alt=""><img src="/assets/svg/moygaleryya2.svg" alt=""></div>
        <div class="foto3d">
          <p>Наращивание</p>
          <p>ресниц 3D</p>
        </div>
      </div>
    </main>
  </body>
</html>