<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sass/main.css">
    <title>Страница график работы после сохранения</title>
  </head>
  <body>
    <main>
      <div class="navbar">
        <div class="nav"><img src="/assets/svg/navar.svg" alt="">
          <p>Моё расписание</p>
        </div>
        <div class="sdelatfoto grafig3">
          <p>Разрешить запись клиентам</p>
          <form>
            <label class="switch">
              <input type="checkbox" onclick="change()"><span class="slider round"></span>
              <h2 id="light-text"></h2>
            </label>
          </form>
        </div>
        <div class="datazapis">
          <div class="datazapis__card">
            <div> <img src="/assets/svg/Date_range.svg" alt="">
              <p>Длительность записи</p>
            </div>
            <p>2 дня</p>
          </div>
          <div class="datazapis__card">
            <div> <img src="/assets/svg/drink.svg" alt="">
              <p>Перерыв между сеансами</p>
            </div>
            <p>1 час. 45 мин.</p>
          </div>
          <div class="datazapis__card">
            <div> <img src="/assets/svg/GIft.svg" alt="">
              <p>Подтверждение записи</p>
            </div>
            <p>Подтверждать запись для всех клиенов</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>